a{

	color: blue;
	text-decoration: none;


}

.h2{

	border-top: grey 3px solid;
	padding-top: 20px;

}

div {
	
	border-top: grey 3px solid;
	padding-top: 20px;

}

#p1 {

	padding-bottom: 20px;
}

.h3{

background-color: gray;


}
